.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-column .col {
    flex: 1;
}

.caja {
    background-color: lightgray;
    border: 0px solid darkgray;
    text-align: center;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
}

.caja img {
    max-width: 100%;
    height: auto;
}

